<%= form_tag '/session', role: 'form' do %>
    <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, '', class: 'form-control', type: 'email' %>
    </div>

    <div class="form-group">
        <%= label_tag :password %>
        <%= text_field_tag :password, '', class: 'form-control', type: 'password'%>
    </div>

    <%= submit_tag 'Go!', class: 'btn btn-default' %>
<% end %>
