<ul class="nav navbar-nav pull-right">
    <%= content_tag :li, :class => controller?('home') ? 'active' : '' do %>
	<%= link_to root_path do %>
	    <i class="fa fa-home"></i>
	    <span class="title"><%= t('.home') %></span>
	<% end %>
    <% end %>
    <%= content_tag :li, :class => controller?('projects') ? 'active' : '' do %>
	<%= link_to projects_path do %>
	    <i class="fa fa-file-code-o"></i>
	    <span class="title"><%= t('.projects') %></span>
	<% end %>
    <% end %>
    <%= content_tag :li, :class => controller?('contact') ? 'active' : '' do %>
	<%= link_to contact_path do %>
	    <i class="fa fa-phone"></i>
	    <span class="title"><%= t('.contact') %></span>
	<% end %>
    <% end %>
</ul>
