<div class="jumbotron">
    <h1><%= t '.title' %></h1>
    <p class="lead"><%= t '.lead' %></p>
</div>

<div class="row">
    <div class="col-sm-9">
        <p><%= t '.about_me1' %></p>
        <p><%= t '.about_me2' %></p>
    </div>
    <div class="col-sm-3 photo">
        <%= image_tag 'messy_hair.jpg' %>
        <p>I'm not always this silly, but life is more fun when I am.</p>
    </div>
</div>
