<div class="jumbotron">
    <h1><%= t '.title' %></h1>
    <p class="lead"><%= t '.lead' %></p>
</div>

<div class="row">
    <div class="col-sm-9">
        <p><%= t '.about_me1' %></p>
        <p><%= raw t '.about_me2' %></p>
        <p><%= t '.about_me3' %></p>
    </div>
    <div class="col-sm-3 photo">
        <%= image_tag 'zoee.jpg', data: { path: image_path('zoee.jpg'), silly_path: image_path('zoee_silly.jpg')} %>
    </div>
</div>

<h2><%= t '.favorite_resources' %></h2>
<dl>
    <dt><%= link_to 'Reddit', 'http://reddit.com/', target: '_blank' %></dt>
    <dd>As with most tools it's about how you use it. Used correctly it can be a tremendous resource.</dd>
    <dt><%= link_to 'Unity Answers', 'http://answers.unity3d.com/', target: '_blank' %></dt>
    <dd>If you ever have a question about Unity you'll find the answer here.</dd>
    <dt><%= link_to 'Unity List', 'http://unitylist.com/', target: '_blank' %></dt>
    <dd>Good resource for finding open source projects related to Unity 3D.</dd>
    <dt><%= link_to 'raywenderlich.com', 'http://www.raywenderlich.com/', target: '_blank' %></dt>
    <dd>A gold mine of information on iOS and game programming.</dd>
    <dt><%= link_to 'StackOverflow', 'http://stackoverflow.com/', target: '_blank' %></dt>
    <dd>Goes without saying but it has helped me countless times. Although I usually get there via Google.</dd>
    <dt><%= link_to 'RailsGuides', 'http://guides.rubyonrails.org/', target: '_blank' %></dt>
    <dd>The best place to learn Rails. Part reference, part best practices, all quality.</dd>
    <dt><%= link_to 'Mozilla Developer Network', 'https://developer.mozilla.org', target: '_blank' %></dt>
    <dd>This is the most reliable source for information on JavaScript and CSS IMHO.</dd>
    <dt><%= link_to 'Dive into HTML5', 'http://diveintohtml5.info/', target: '_blank' %></dt>
    <dd>Old news, but still nice to have all the information presented well in one place.</dd>
    <dt><%= link_to 'Learn Vimscript the Hard Way', 'http://learnvimscriptthehardway.stevelosh.com/', target: '_blank' %></dt>
    <dd>The most complete resource I have found on Vimscript.</dd>
</dl>
