<div class="col-md-6 featured-project">
    <h4><%= link_to feature.title, project_path(feature) %></h4>
    <p><%= simple_format feature.intro %></p>
    <%= link_to t('.more-details'), project_path(feature), class: 'btn btn-success btn-sm' %>
    <% if logged_in? %>
        <%= link_to edit_project_path(feature), class: 'btn btn-default btn-sm' do %>
            <%= t '.edit' %>
            <i class="fa fa-pencil"></i>
        <% end %>
    <% end %>
</div>
