<%= form_for @project, html: { role: 'form' } do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :intro %>
        <%= f.text_area :intro, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 10 %>
    </div>

    <div class="form-group">
        <%= f.label :license %>
        <%= f.text_field :license, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :repository %>
        <%= f.text_field :repository, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :download_url %>
        <%= f.text_field :download_url, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :featured %>
        <%= f.check_box :featured, class: 'form-control' %>
    </div>

    <%= f.submit t('.submit'), class: 'btn btn-default' %>
<% end %>
