<div class="jumbotron">
    <h1><%= @project.title %></h1>
    <p><%= @project.intro %></p>
    <p>
	<span class="pull-right"><%= @project.license %></span>
	<% unless @project.repository.blank? %>
	    <%= link_to @project.repository, class: 'btn btn-success' do %>
		<%= t('.repository') %>
		<i class="fa fa-chevron-right"></i>
	    <% end %>
	<% end %>
	<% unless @project.download_url.blank? %>
	    <%= link_to @project.download_url, class: 'btn btn-success' do %>
		<%= t('.download') %>
		<i class="fa fa-chevron-right"></i>
	    <% end %>
	<% end %>
    </p>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8">
	<%= simple_format @project.description %>
    </div>
    <div class="col-xs-12 col-sm-4">
	<% if logged_in? %>
	    <%= link_to edit_project_path(@project), class: 'btn btn-default btn-sm' do %>
		<%= t '.edit' %>
		<i class="fa fa-pencil"></i>
	    <% end %>
	<% end %>

	<% if @project.used_technologies.size > 0 %>
	    <h4><%= t '.technologies' %></h4>
	    <% @project.used_technologies.each do |ut| %>
		<span class="label label-primary"><%= ut.technology.title %></span>
	    <% end %>
	<% end %>

	<% if @project.screenshots.size > 0 %>
	    <h4><%= t '.screenshots' %></h4>
	    <ol class="screenshots">
		<% @project.screenshots.each do |screenshot| %>
		    <li>
			<%= link_to screenshot.image.url, data: { lightbox: 'screenshots', title: screenshot.caption } do %>
			    <%= image_tag screenshot.image.thumb.url, data: { toggle: 'modal', target: '#screenshot-modal', image: screenshot.image.url, caption: screenshot.caption } %>
			<% end %>
			<p class="caption"><%= screenshot.caption %></p>
		    </li>
		<% end %>
	    </ol>
	<% end %>
    </div>
</div>
