<div class="jumbotron">
    <h1><%= @project.title %></h1>
    <p><%= @project.intro %></p>
    <p>
	<span class="pull-right"><%= @project.license %></span>
	<% unless @project.repository.blank? %>
	    <%= link_to @project.repository, class: 'btn btn-success' do %>
		<%= t('.repository') %>
		<i class="glyphicon glyphicon-chevron-right"></i>
	    <% end %>
	<% end %>
	<% unless @project.download_url.blank? %>
	    <%= link_to @project.download_url, class: 'btn btn-success' do %>
		<%= t('.download') %>
		<i class="glyphicon glyphicon-chevron-right"></i>
	    <% end %>
	<% end %>
    </p>
</div>
<p><%= simple_format @project.description %></p>
