<div class="jumbotron">
    <h1><%= @project.title %></h1>
    <p><%= @project.intro %></p>
    <p>
	<span class="pull-right"><%= @project.license %></span>
	<% unless @project.repository.blank? %>
	    <%= link_to @project.repository, class: 'btn btn-success' do %>
		<%= t('.repository') %>
		<i class="glyphicon glyphicon-chevron-right"></i>
	    <% end %>
	<% end %>
	<% unless @project.download_url.blank? %>
	    <%= link_to @project.download_url, class: 'btn btn-success' do %>
		<%= t('.download') %>
		<i class="glyphicon glyphicon-chevron-right"></i>
	    <% end %>
	<% end %>
    </p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
	<%= simple_format @project.description %>
    </div>
    <div class="col-xs-6 col-sm-4">
	<h4><%= t '.technologies' %></h4>
	<ul>
	<% @project.used_technologies.each do |ut| %>
	    <li><%= ut.technology.title %></li>
	<% end %>
	</ul>
    </div>
</div>
