<div class="jumbotron">
    <h1><%= t '.title' %></h1>
    <p class="lead"><%= t '.lead' %></p>
</div>

<div class="row">
    <div class="col-xs-offset-3 col-xs-6 col-md-offset-1 col-md-4">
	<h3><%= t '.email' %></h2>
	<%= mail_to 'zoee.silcock@gmail.com', 'zoee.silcock_at_gmail.com' %>
    </div>
    <div class="col-xs-offset-3 col-xs-6 col-md-3">
	<h3><%= t '.twitter' %></h2>
	<%= link_to '@zoees', 'https://twitter.com/zoees' %>
    </div>
    <div class="col-xs-offset-3 col-xs-6 col-md-3">
	<h3><%= t '.phone' %></h2>
	<%= link_to '076-001 65 09', 'tel:0760016509' %>
    </div>
</div>
