<div class="jumbotron">
    <h1><%= t '.title' %></h1>
    <p class="lead"><%= t '.lead' %></p>
</div>

<div class="contact-container">
    <div class="contact-item">
        <h3><%= t '.email' %></h3>
        <%= mail_to 'zoee.silcock@gmail.com', 'zoee.silcock_at_gmail.com' %>
    </div>
    <div class="contact-item">
        <h3><%= t '.twitter' %></h3>
        <%= link_to '@zoees', 'https://twitter.com/zoees' %>
    </div>
</div>
