<!DOCTYPE html>
<html>
<head>
  <title>zoeetrope.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name if Zoeetrope::Application.assets.find_asset("#{params[:controller]}.js.coffee") %>
  <%= javascript_include_tag "#{controller_name}_#{action_name}" if Zoeetrope::Application.assets.find_asset("#{controller_name}_#{action_name}.js.coffee") %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
    <div class="container">
	<%= render :partial => 'shared/header' %>
	<%= yield %>
    </div>
</body>
</html>
